<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<title>Inserisci nuova foto</title>
</head>

<body>

	<div class="container">
	
		<h1>Nuova foto</h1>
		
		<form id="foto-form" th:object="${foto}" th:action="@{'/fotos/create'}" method="post">
			<div class="row">
				<div class="col">
					
					<label for="titolo">Titolo</label>
					<input type="text" id="titolo" th:field="*{titolo}">
					
					<label for="tag">Tag foto</label>
					<input type="text" id="tag" th:field="*{tag}">
					
					<label for="url">Indirizzo URL foto</label>
					<input type="text" id="url" th:field="*{url}">
					
					<label for="visibile">Visibile</label>
					<input type="checkbox" id="visibile" th:field="*{visibile}">
					
					<div class="border m-5">
						<h3>Categoria/e foto:</h3>
						<div th:each="categoria : ${listaCategorias}">
							<label>[[ ${categoria.nome} ]]</label>
							<input type="checkbox" th:value="${categoria.id}" th:field="*{categorias}">
						</div>
					</div>
					
					<a th:href="@{'/fotos'}">Annulla modifica</a>
					
					<input type="submit">
				</div>
			</div>
		</form>
	</div>
	
</body>

</html>