<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<title>Inserisci nuova foto</title>
</head>

<body>

	<div class="container">
	
		<h1 class="m-5 d-flex justify-content-center">Nuova foto</h1>
		
		<form class="m-5" id="foto-form" th:object="${foto}" th:action="@{'/fotos/create'}" method="post">
			<div class="row">
				<div class="col">
					<ul class="border">
						<li class="text-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
					</ul>
					
					<div class="d-flex flex-column align-items-end">
						<div class="m-1">
							<label for="titolo">Titolo</label>
							<input type="text" id="titolo" th:field="*{titolo}">
						</div>
						
						<div class="m-1">
							<label for="tag">Tag foto</label>
							<input type="text" id="tag" th:field="*{tag}">
						</div>
						
						<div class="m-1">
							<label for="url">Indirizzo URL foto</label>
							<input type="text" id="url" th:field="*{url}">
						</div>
						
						<div class="m-1">
							<label for="visibile">Visibile</label>
							<input type="checkbox" id="visibile" th:field="*{visibile}">
						</div>
					</div>
					
					<div class="m-5">
						<h3>Categoria/e foto:</h3>
						<div th:each="categoria : ${listaCategorias}">
							<label>[[ ${categoria.nome} ]]</label>
							<input type="checkbox" th:value="${categoria.id}" th:field="*{categorias}">
						</div>
					</div>
					
					<div class="m-5 d-flex justify-content-center">
						<a class="m-1" th:href="@{'/fotos'}">Annulla modifica</a>
						<input type="submit">
					</div>
					
				</div>
			</div>
		</form>
	</div>
	
</body>

</html>