<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<title>Dettaglio foto</title>
</head>

<body>

	<div class="container">
	
		<div th:replace="~{fragments :: navbar('showFoto')}"></div>

		<h1>Dettaglio foto</h1>
		
		<table class="table table-striped table-dark table-bordered">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Titolo</th>
		      <th scope="col">Tag</th>
		      <th scope="col">URL</th>
		      <th scope="col">Foto</th>
		      <th scope="col">Visibile</th>
		      <th scope="col">Categorie</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row" th:text="${foto.id}"></th>
		      <td th:text="${foto.titolo}"></td>
		      <td th:text="${foto.tag}"></td>
		      <td th:text="${foto.url}"></td>
		      <td>
		      	<img th:src="${foto.url}" class="card-img-top" th:alt="${foto.titolo}">
		      </td>
		      <td th:text="${foto.visibile}"></td>
		      <td>
		      	<div th:if="${foto.categorias.size()==0}">Questa foto non ha nessuna categoria</div>
		      	<div th:if="${foto.categorias.size()>0}">
		      		<div th:each="categoria : ${foto.categorias}" class="border m-1">
			      		<div th:text="${categoria.id}"></div>
			      		<div th:text="${categoria.nome}"></div>
		      		</div>
		      	</div>
		      </td>
		    </tr>
		  </tbody>
		</table>
		
		<form action="#" th:action="@{'/fotos/delete/' + ${foto.id} }" method="post" sec:authorize="hasAuthority('ADMIN')">
			<button class="btn btn-danger" type="submit" id="submitButton">
				ELIMINA
			</button>
		</form>
	
		<a th:href="@{'/fotos'}">Torna alla lista delle foto</a>
	</div>
	
</body>

</html>